config/checkstyle/configuration_1_3.dtd

<!-- Add the following to any file that is to be validated against this DTD:

<!DOCTYPE module PUBLIC
    "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
    "https://checkstyle.org/dtds/configuration_1_3.dtd">
-->

<!--
   Checkstyle DTD copied locally to avoid network access during CI runs.
   Source: https://checkstyle.org/dtds/configuration_1_3.dtd
-->
<!ELEMENT module (metadata?, (property | module | file | message)+)>
<!ATTLIST module
          name CDATA #REQUIRED>

<!ELEMENT metadata (property)+>
<!ATTLIST metadata
          name CDATA #IMPLIED>

<!ELEMENT property EMPTY>
<!ATTLIST property
          name CDATA #REQUIRED
          value CDATA #REQUIRED>

<!ELEMENT file EMPTY>
<!ATTLIST file
          name CDATA #REQUIRED>

<!ELEMENT message EMPTY>
<!ATTLIST message
          key CDATA #REQUIRED
          value CDATA #REQUIRED>
